@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap");
@font-face {
  font-family: Gilroy-Heavy;
  /* src: url(../fonts/ITC_Caslon_224_Std_Black.ttf); */
  src: url("./fonts/ITC_Caslon_224_Std_Black.ttf");
}
@font-face {
  font-family: Kadwa-Regular;
  /* src: url(../fonts/Kadwa-Regular.ttf); */
  src: url("./fonts/Kadwa-Regular.ttf");
}

body {
  font-family: Kadwa-Regular;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  color: #fff;
  background-color: #000000;
  /* background-image: url(../images/billyBg.svg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 1.6;
  margin: 0 0 15px;
}

a {
  color: #008000;
  text-decoration: none !important;
  transition: ease-in-out 0.3s;
  display: inline-block;
}

a:hover,
a:active {
  color: #d41b13;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gilroy-Heavy;
  font-weight: normal;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
  font-weight: 700 !important;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

ul {
  margin: 0;
}

input,
select,
textarea,
button,
input:focus,
button:focus {
  outline: none;
}

button {
  transition: ease-in-out 0.3s;
}

img {
  max-width: 100%;
}

header,
section,
footer {
  width: 100%;
}

.pb_50 {
  padding-bottom: 50px;
}
.pt_50 {
  padding-top: 50px;
}
.ptb_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ptb_80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.ptb_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.colAlignCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn,
.btn2 {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  background-size: 150% auto;
  background-image: linear-gradient(to right, #d41b13 0%, #d41b13 100%);
  border-radius: 15px;
  outline: none;
  position: relative;
  border: 1px #d41b13 solid;
  transition: all 1s;
  min-height: 54px;
  vertical-align: middle;
  min-width: 160px;
}
.btn img,
.btn2 img {
  margin-right: 8px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn:hover,
.btn2:hover {
  color: #fff;
  background-image: linear-gradient(to right, #000000 0%, rgb(212 27 20) 100%);
  background-position: right center;
  box-shadow: 0px 10px 20px rgba(218, 55, 213, 0.2);
}
.btn2 {
  background-image: linear-gradient(
    90deg,
    rgba(218, 55, 213, 0.2) 0%,
    rgba(255, 215, 123, 0.2) 100%
  );
}

.heroSection {
  background-image: url("./assets/images/billyBg.svg");
  /* background-image: url("./src/assets/images/billyBg.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  position: relative;
  top: -118px;
  z-index: -1;
}

.heroSection .container {
  display: flex;
  align-items: center;
}
.alignCenter {
  justify-content: center;
  display: flex;
  align-items: center;
}
.heroText span {
  font-size: 55px;
  font-weight: 200;
}

header {
}

header .navbar {
  padding: 30px 0px;
}

.navbar-brand {
  margin: 0;
}
.navbar-brand img {
  height: 60px;
  position: absolute;
  top: 21px;
}

.navbar-nav .nav-item {
  padding: 0px 25px;
}
.navbar-nav .nav-link {
  font-size: 16px;
  color: #fff !important;
  font-weight: 500;
}
.navbar-nav .nav-link:hover {
  color: #d41a12 !important;
}

.heroSection {
}
.heroText {
  width: 100%;
  padding: 25px 0px;
}
.heroText h1 {
  font-family: Gilroy-Heavy;
}
.heroText h1 span {
  background: linear-gradient(90deg, #008000 0%, #ffd77b 100%);
  padding: 0px 5px;
}

.heroText .btn,
.heroText .btn2 {
  margin-top: 15px;
}

.sponsorLogo {
  padding: 30px 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(90deg, #ffd77b 0%, #008000 100%);
  position: relative;
}
.sponsorLogo:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #008000 0%, #ffd77b 100%);
  transform: rotate(-1.74deg);
  left: 0;
  top: 0;
}

.sponsorList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sponsorList li {
  width: 20%;
  padding: 10px;
  text-align: center;
}
.sponsorList li img {
}

.snLinks {
  text-align: center;
  margin: 40px 0px;
}
.snLinks a {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.snLinks img {
  margin-bottom: 15px;
  transition: all 0.5s;
}
.snLinks span {
  display: block;
}
.snLinks a:hover {
  color: #008000;
}
.snLinks a:hover img {
  transform: scale(0.9);
}

.textBoxCol {
  padding: 20px 0px;
}
.textBoxCol h3 {
  margin-bottom: 25px;
}
.textBoxCol h3 span {
  font-family: "Gilroy-Medium";
  font-weight: normal;
}
.textBoxCol p {
}
.textBoxCol a {
}

.roadmapList {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.roadmapList:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: url("./assets/images/roadMapLine.svg") center no-repeat; */
  background-size: contain;
}
.roadmapList li {
  width: 100%;
  max-width: 180px;
  z-index: 1;
  position: relative;
}
.roadmapList li:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #ffeec7;
  border: 8px solid #008000;
  border-radius: 50%;
}
.roadmapList li:nth-child(1) {
  left: 50px;
  top: 62px;
}
.roadmapList li:nth-child(2) {
  top: 178px;
  left: 100px;
}
.roadmapList li:nth-child(3) {
  top: 178px;
  left: 70px;
}
.roadmapList li:nth-child(4) {
  top: 62px;
  right: 50px;
  text-align: right;
}
.roadmapList li:nth-child(4):before {
  left: unset;
  right: 0;
}
.roadmapList li:nth-child(odd):before {
  border-color: #ffd77b;
}

.roadmapTitle {
  font-size: 28px;
  font-weight: 700;
}

.letsTalkCol {
  background: linear-gradient(
    85.92deg,
    rgba(218, 55, 213, 0.1) 1.49%,
    rgba(255, 215, 123, 0.1) 99.62%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.letsTalkCol h4 {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 25px;
  font-weight: bold;
}
.letsTalkTextCol {
  width: 100%;
  max-width: 500px;
}

footer {
  padding: 30px 0px;
  background: #f50103;
}
footer a {
  color: #fff;
}
.fLogo {
  display: inline-flex;
  align-items: center;
}
.fLogo img {
  height: 45px;
}
.fLogo span {
  margin-left: 10px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}
.socialLinks li {
  padding: 0px 10px;
}
.socialLinks li a {
  padding: 5px;
}

.otherLinks {
  display: flex;
  justify-content: flex-end;
}
.otherLinks li {
  padding: 0px 10px;
}
.otherLinks li a {
  padding: 5px;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}
.background span {
  width: 62vmin;
  height: 62vmin;
  border-radius: 62vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.2;
}
.background span:nth-child(0) {
  color: #008000;
  top: 40%;
  left: 22%;
  animation-duration: 30s;
  animation-delay: -6s;
  transform-origin: -6vw 21vh;
  box-shadow: -84vmin 0 21.06415726435833vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffd77b;
  top: 34%;
  left: 28%;
  animation-duration: 20s;
  animation-delay: -23s;
  transform-origin: -9vw 1vh;
  box-shadow: 84vmin 0 20.506517386293924vmin currentColor;
}
.background span:nth-child(2) {
  color: #008000;
  top: 23%;
  left: 22%;
  animation-duration: 30s;
  animation-delay: -16s;
  transform-origin: 24vw -22vh;
  box-shadow: 84vmin 0 20.843331894187187vmin currentColor;
}
.background span:nth-child(3) {
  color: #008000;
  top: 25%;
  left: 31%;
  animation-duration: 20s;
  animation-delay: -21s;
  transform-origin: 9vw -6vh;
  box-shadow: 84vmin 0 21.071044369622303vmin currentColor;
}
.FW .container {
  border: 1px solid #d41b140d;
  border-radius: 2%;
  background-image: linear-gradient(to right, #121213 0%, #0c0c0d87 100%);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center !important;
}
form.coPy img {
  position: absolute;
  right: 34%;
  top: 78%;
}
.roAdMap .roadmapList:before,
.roAdMap .roadmapList li:before {
  display: none;
}
.roAdMap .roadmapList li:nth-child(1) {
  left: 0px;
  top: 100px;
}
.roAdMap .roadmapList li:nth-child(2) {
  top: 40px;
  left: 0px;
}
.roAdMap .roadmapList li:nth-child(3) {
  top: 0px;
  left: 0px;
}
.roAdMap .roadmapList li:nth-child(4) {
  top: -40px;
  right: 0px;
  text-align: left;
}
.roAdMap .roadmapList li:nth-child(4):before {
  left: unset;
  right: 0;
}
.roadmapList li h5:before {
  content: "";
  /* background-image: url("./assets/images/roadMap_line.svg"); */
  width: 100%;
  height: 100%;
  bottom: -24px;
  left: 0px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 1;
}
.roadmapList li h5 {
  position: relative;
  padding: 10px 0;
  font-size: 22px;
  background: #0a061d;
}
.roadmapList li {
  width: 100%;
  max-width: 271px !important;
  z-index: 1;
  position: relative;
  background-image: linear-gradient(#270061, #31293d29);
}
.roAdMap ul.roadmapList .roadmapTitle {
  font-size: 19px;
  padding-left: 15px;
}
.ph1 {
  padding: 10px;
}
.container.w-1200 {
  width: 1200px;
  height: 100vh;
}
.roadmapList li p {
  padding: 15px;
}
.roadmapList li h5:after {
  background: #210350;
  width: 45%;
  height: 40px;
  position: absolute;
  content: "";
  z-index: 0;
  right: 0;
  top: 21px;
  border-top-left-radius: 33px;
}
.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.7;
}
iframe.voltichange-widget {
  width: 500px;
  height: 460px;
}
.inFo img {
  width: 100px;
  height: 112px;
}
.inFo {
  border: 1px solid #8ec73a;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  display: flex;
}
.inFo h3 {
  font-size: 23px;
}
span.inputPercent p {
  margin-bottom: 4px !important;
}
.inFo h3 img {
  background: #26133f;
  padding: 10px 20px;
  border-radius: 100px;
  position: relative;
  margin-right: 2px;
}
.inFo:hover {
  background: #1b3f33;
}
.inFo:hover h3 img {
  background: #1b3f33;
}
.address {
  font-size: 20px;
  color: #8343ff;
}
ul.rodMp {
  display: flex;
}
ul.tokenDetail li {
  float: left;
  width: 50%;
  padding: 10px;
}
ul.tokenDetail li p {
  margin-bottom: 0;
}
input.tokenInpt {
  background: transparent;
  padding: 10px;
  border: 1px solid #f44336;
  width: 70%;
  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
}
ul.rodMp li {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  margin: 10px;
}
ul.qList li:before {
  content: "";
  background: #fff;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -8px;
  top: 16px;
  border-radius: 100%;
}
ul.qList li {
  border: none !important;
  position: relative;
}
ul.rodMp li span {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 0px;
}

ul.rodMp li {
  width: 100%;
  padding: 10px;
  border: 1px solid #474747;
  margin: 10px;
  border-radius: 10px;
  height: fit-content;
}

ul.rodMp:before {
  content: "";
  background: #fff;
  width: 100%;
  position: absolute;
  height: 2px;
  bottom: 0;
}

li.step2 {
  position: relative;
  bottom: -480px !important;
}

ul.rodMp > li.step1 {
  align-content: flex-end !important;
}

/*--------*/

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #f45b69;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 363px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
}
.timeline ol li:hover::after {
  background: #d51b13;
}

ul.liT li:after {
  display: none;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + -132px);
  width: 304px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: #fff;
  background: #1b1b1d;
  border: 1px solid #474747;
  border-radius: 10px;
}
.timeline ol li ul li {
  background: none;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -28px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 30px);
}

.timeline ol li > div:hover {
  background: #d51b13;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.liT {
  text-align: left;
}
/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: 0.5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: fit-content;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
.timeline ol li:not(:first-child) ul.liT li {
  margin-left: 0px;
}
ul.liT li:before {
  content: "";
  background: #fff;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: -10px;
}
ul.liT li {
  position: relative;
}
a.btn img {
  min-width: 34px !important;
}
.buyIc img {
  width: 16px;
}
.heroText h1 {
  font-family: Gilroy-Heavy;
  font-weight: 400;
  font-size: 73px;
}
.card {
  padding: 85px;
  border-radius: 10px;
  background: #2b292985;
}
/* .card:before {
  content: '';
  background-image: url(../images/leftIcon.png);
  width: 100%;
  height: 100%;
  left: -35px;
  top: 0;
  position: absolute;
  background-repeat: no-repeat;
  top: -60px;
} */
.pb_100 {
  padding-bottom: 100px;
}
.card {
  position: relative;
}
.pb_100 {
  padding-bottom: 100px;
}
.h-150 {
  height: 150px;
}
.footerSection {
  padding: 45px 25px;
}
ul.footerNav li a {
  padding: 10px 0px;
}
h4.footerTitle {
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.rtImg img {
  max-width: max-content !important;
  position: relative;
  left: -150px;
  top: -50px;
}
ul.client_logo {
  width: 100%;
  padding: 45px 0px;
}
ul.client_logo li {
  width: 25%;
  float: left;
  text-align: center;
}
ul.client_logo li span {
  font-size: 11px;
  text-align: center;
  margin: 0 auto;
  display: block;
  letter-spacing: 4px;
  padding-top: 7px;
}
ul.tokenAlocation li {
  float: left;
  width: 33.33%;
  padding-bottom: 40px;
}
ul.client_logo.sed li {
  width: 33.33%;
  float: left;
}
.card h3,
.card ul li {
  padding-bottom: 25px;
  color: #000;
}
.card {
  padding: 85px;
  border-radius: 10px;
  background: #ffffff;
  width: 80%;
  margin: 50px auto;
}
ul.tokenAlocation li {
  font-size: 25px;
}
.card.red {
  background: #d41a12;
  color: #fff;
}
.card.red ul.tokenAlocation li,
.card.red h3 {
  color: #fff;
}
.card.red ul.tokenAlocation li {
  width: 25%;
  font-size: 45px;
}
.card.red ul.tokenAlocation li span {
  display: block;
  font-size: 15px;
}
.card.red h2 {
  padding-bottom: 35px;
}
.card.red {
  position: relative;
}
.card.red:before {
  content: "";
  /* background-image: url(../images/floatting-icon.svg); */
  background-image: url("./assets/images/floatting-icon.svg");
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  top: -50px;
  left: 48%;
}
.card.red {
  position: relative;
}
ul.gallery li {
  width: 25.33%;
  float: left;
}

/*--- Grid ---*/

.grid {
  display: grid;
  grid-template-rows: repeat(4, 180px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.item:nth-child(1) {
  grid-row: 1 / 4;
}

.item:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.item:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: 490px;
  transition: 500ms;
  margin-bottom: 10px;
  object-fit: cover;
  opacity: 0.8;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}

.gallery img:hover {
  opacity: 1;
}
footer a:hover,
a:active {
  color: #fff;
}
/* .modal {
display: flex;
align-items: center;
justify-content: center;
flex-direction: center;
} */

.modal-img,
.model-vid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}
.modal-body {
  padding: 0px;
}

.modal-dialog {
  height: 100%;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .gallery div {
    margin: 0;
    width: 200px;
  }
  .modal-dialog {
    margin: 0 8vw;
  }
}

@media screen and (max-width: 479px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .gallery div {
    margin: 0;
    width: 200px;
  }
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* responsive.css */

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}

@media (min-width: 1500px) {
}

@media (max-width: 1366px) {
  .roadmapList li:nth-child(1) {
    left: 30px;
    top: 72px;
  }

  .roadmapList li:nth-child(2) {
    top: 168px;
    left: 100px;
  }

  .roadmapList li:nth-child(3) {
    top: 168px;
    left: 70px;
  }

  .roadmapList li:nth-child(4) {
    top: 72px;
    right: 30px;
  }

  .inFo {
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .roadmapList li:nth-child(1) {
    top: 98px;
    left: 20px;
  }

  .roadmapList li:nth-child(2) {
    left: 80px;
    top: 160px;
  }

  .roadmapList li:nth-child(3) {
    top: 160px;
  }

  .roadmapList li:nth-child(4) {
    top: 98px;
    right: 20px;
  }

  .roadmapList li p {
    font-size: 16px;
  }

  .roadmapList li .roadmapTitle {
    font-size: 20px;
  }

  .roadmapList li:before {
    width: 30px;
    height: 30px;
  }

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .otherLinks {
    justify-content: center;
  }
  .socialLinks {
    margin: 20px 0px;
  }
}

@media (max-width: 768px) {
  div#navb {
    padding-top: 55px;
  }
  .supportednetworkSection .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .letsTalkCol {
    font-size: 32px;
    padding: 30px 60px;
  }

  .letsTalkCol {
    flex-wrap: wrap;
  }

  .letsTalkTextCol {
    width: 100%;
  }
}

@media (max-width: 767px) {
  ul.liT {
    display: block !important;
  }
  ul.liT li {
    display: block !important;
  }
  .timeline ol li div {
    padding: 20px;
  }
  .heroSection {
    overflow: hidden;
  }
  .timeline time h3,
  .timeline time p {
    margin-bottom: 0;
  }
  .socialLinks {
    justify-content: center;
  }
  .timeline time h3 {
    font-size: 20px;
  }
  .FW .container {
    padding: 40px 10px;
  }

  .orderTop {
    order: -1;
  }

  .roadmapList:before {
    display: none;
  }

  .roadmapList {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: normal;
    width: auto;
    flex-direction: column;
  }

  .roadmapList li {
    width: 100%;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 50px;
  }

  .roadmapList li:nth-child(4) {
    text-align: left;
  }

  .roadmapList li::after {
    content: "";
    width: 12px;
    height: 110%;
    background-color: #ffd77b;
    display: block;
    position: absolute;
    left: 10px;
    top: 0px;
    border-radius: 20px;
  }

  .roadmapList li.step02::after {
    background-color: #da37d5;
  }

  .roadmapList li.step04::after {
    background-color: #da37d5;
    display: none;
  }

  /* .roadmapList li:nth-child(1):after{
		border-radius: 20px 20px 0px 0px;
	} */
  .roadmapList li:before {
    left: 0px !important;
    z-index: 99;
    position: absolute;
  }

  .roadmapFlex {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 52px;
  }
  h3,
  h2,
  .letsTalkCol h4 {
    font-size: 34px;
  }
  .heroText p {
    font-size: 18px;
  }
  .container.w-1200 {
    width: 100%;
    height: auto;
  }
  iframe.voltichange-widget {
    width: 100%;
    height: 598px;
  }
  .roAdMap .roadmapList:before,
  .roAdMap .roadmapList li:before {
    display: none;
  }
  .roAdMap .roadmapList li::after {
    display: none;
  }
  .roAdMap .roadmapList li {
    padding-left: 0;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 34px;
  }
  .heroText p {
    font-size: 14px;
  }
  .inFo {
    height: auto;
    margin-bottom: 40px;
  }
  /* .heroText h1 {
    font-size: 65px;
  } */
  input.tokenInpt {
    width: 100%;
  }
  form.coPy img {
    position: absolute;
    right: 8%;
  }
  .rtImg img {
    width: 430px;
    top: 0;
    left: -66px;
    top: -30px;
    position: relative;
  }
  .heroSection {
    top: -28px;
  }
  .navbar-brand img {
    height: 41px;
    position: absolute;
    top: 30px;
  }
  .card {
    padding: 25px;
    border-radius: 10px;
    background: #ffffff;
    width: 90%;
    margin: 50px auto;
  }
  ul.tokenAlocation li {
    float: left;
    width: 50%;
    font-size: 20px;
  }
  .card.red ul.tokenAlocation li {
    width: 50%;
    font-size: 31px;
  }
  ul.client_logo li {
    width: 50%;
    float: left;
    padding-bottom: 30px;
    margin: 0 auto;
    height: 85px;
  }
  .reverse {
    flex-wrap: wrap-reverse;
  }
  .heroSection {
    height: 83vh;
  }
  .card.red:before {
    width: 50%;
    height: 80%;
    top: -55px;
    left: 40%;
  }
}

@media (max-width: 575px) {
  .supportednetworkSection .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 414px) {
}

@media (max-width: 375px) {
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* push-pull.css */

@media (min-width: 576px) {
  .pull-sm-12 {
    right: 100%;
  }
  .pull-sm-11 {
    right: 91.66666667%;
  }
  .pull-sm-10 {
    right: 83.33333333%;
  }
  .pull-sm-9 {
    right: 75%;
  }
  .pull-sm-8 {
    right: 66.66666667%;
  }
  .pull-sm-7 {
    right: 58.33333333%;
  }
  .pull-sm-6 {
    right: 50%;
  }
  .pull-sm-5 {
    right: 41.66666667%;
  }
  .pull-sm-4 {
    right: 33.33333333%;
  }
  .pull-sm-3 {
    right: 25%;
  }
  .pull-sm-2 {
    right: 16.66666667%;
  }
  .pull-sm-1 {
    right: 8.33333333%;
  }
  .pull-sm-0 {
    right: auto;
  }

  .push-sm-12 {
    left: 100%;
  }
  .push-sm-11 {
    left: 91.66666667%;
  }
  .push-sm-10 {
    left: 83.33333333%;
  }
  .push-sm-9 {
    left: 75%;
  }
  .push-sm-8 {
    left: 66.66666667%;
  }
  .push-sm-7 {
    left: 58.33333333%;
  }
  .push-sm-6 {
    left: 50%;
  }
  .push-sm-5 {
    left: 41.66666667%;
  }
  .push-sm-4 {
    left: 33.33333333%;
  }
  .push-sm-3 {
    left: 25%;
  }
  .push-sm-2 {
    left: 16.66666667%;
  }
  .push-sm-1 {
    left: 8.33333333%;
  }
  .push-sm-0 {
    left: auto;
  }
}

@media (min-width: 768px) {
  .pull-md-12 {
    right: 100%;
  }
  .pull-md-11 {
    right: 91.66666667%;
  }
  .pull-md-10 {
    right: 83.33333333%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .pull-md-8 {
    right: 66.66666667%;
  }
  .pull-md-7 {
    right: 58.33333333%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .pull-md-5 {
    right: 41.66666667%;
  }
  .pull-md-4 {
    right: 33.33333333%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .pull-md-2 {
    right: 16.66666667%;
  }
  .pull-md-1 {
    right: 8.33333333%;
  }
  .pull-md-0 {
    right: auto;
  }

  .push-md-12 {
    left: 100%;
  }
  .push-md-11 {
    left: 91.66666667%;
  }
  .push-md-10 {
    left: 83.33333333%;
  }
  .push-md-9 {
    left: 75%;
  }
  .push-md-8 {
    left: 66.66666667%;
  }
  .push-md-7 {
    left: 58.33333333%;
  }
  .push-md-6 {
    left: 50%;
  }
  .push-md-5 {
    left: 41.66666667%;
  }
  .push-md-4 {
    left: 33.33333333%;
  }
  .push-md-3 {
    left: 25%;
  }
  .push-md-2 {
    left: 16.66666667%;
  }
  .push-md-1 {
    left: 8.33333333%;
  }
  .push-md-0 {
    left: auto;
  }
}

@media (min-width: 992px) {
  .pull-lg-12 {
    right: 100%;
  }
  .pull-lg-11 {
    right: 91.66666667%;
  }
  .pull-lg-10 {
    right: 83.33333333%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .pull-lg-8 {
    right: 66.66666667%;
  }
  .pull-lg-7 {
    right: 58.33333333%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .pull-lg-5 {
    right: 41.66666667%;
  }
  .pull-lg-4 {
    right: 33.33333333%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .pull-lg-2 {
    right: 16.66666667%;
  }
  .pull-lg-1 {
    right: 8.33333333%;
  }
  .pull-lg-0 {
    right: auto;
  }

  .push-lg-12 {
    left: 100%;
  }
  .push-lg-11 {
    left: 91.66666667%;
  }
  .push-lg-10 {
    left: 83.33333333%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .push-lg-8 {
    left: 66.66666667%;
  }
  .push-lg-7 {
    left: 58.33333333%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .push-lg-5 {
    left: 41.66666667%;
  }
  .push-lg-4 {
    left: 33.33333333%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .push-lg-2 {
    left: 16.66666667%;
  }
  .push-lg-1 {
    left: 8.33333333%;
  }
  .push-lg-0 {
    left: auto;
  }
}
